.displayBox {
	height: 150px;
	width: 150px;
	margin: 10px;
}

.newLinkButton {
	display: inline-block;
	background-color: lightgrey;
	color: black;
	height: 40px;
	width: 120px;
	border: 3px solid grey;
	text-decoration: none;
	margin: auto;
}

.newLinkButton:hover {
	display: inline-block;
	background-color: lightgrey;
	color: black;
	height: 40px;
	width: 120px;
	border: 3px inset grey;
	text-decoration: none;
	margin: auto;
}

.mainView {
	height: 600px;
	z-index: 0;
	float: left;
}

.sideView {
	z-index: 0;
	float: right;
	height: 100%;
}

.sideView a {
	height: 200px;
	width: 200px;
	margin: 20px;
}

.vidList {
	float: right;
	z-index: 0;
	background-color: lightgrey;
}

.miniVid {
	margin-right: 0px;
}

.miniVid video {
	height: 185px;
	display: inline-block;
}

.miniVid p {
	font-size: 20px;
	float: bottom;
	position: absolute;
}

.mainVid {
	display: inline-block;
	padding-left: 30px;
}

.mainVid video {
	display: inline-block;
	max-width: 900px;
}