<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>View Media</title>

<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- Bootstrap glyphicons -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/banner.css}">
<link rel="stylesheet" th:href="@{/css/files.css}">

</head>
<body style="height: 100%;">
	<div th:replace="~{fragments :: banner}"></div>

	<div class="body">

		<div class="mainView col-sm-8">
			<h1 th:text="${mainView}? ${mainView.name} : 'No File To View'">No Title Found</h1>
			
			<div th:switch="${mainView.fileType}" th:remove="tag" th:if="${mainView}">
				<span th:case=".mp4" th:remove="tag"> 
					<video height="500px" width="850px" controls="controls">
						<source th:src="'/files' + ${mainView.location}">
					</video>
				</span>
				<span th:case=".pdf" th:remove="tag"> 
				 	<object th:data="'/files' + ${mainView.location}" type="application/pdf" 
				 		style="min-height: 500px; min-width: 850px;">
       					<embed th:src="'/files' + ${mainView.location}" type="application/pdf" />
   					</object>
				</span>
				<span th:case=".img" th:remove="tag">
					<div id="imageHolder" style="height: 500px; width: 850px; overflow: scroll; margin-bottom: 5px;
						display: inline-block;">
						<img id="image" th:alt="${mainView.name}" th:src="'/files' + ${mainView.location}">
					</div>
				</span>
				<span th:case="*">
					<h2>This item can not be displayed, sorry for the inconvenience.</h2>
				</span>
			</div>

			<form th:action="'/files' + ${mainView.location}" th:method="GET" class="col-sm-2 vidButton">
				<button class="newLinkButton" type="submit">
					Full Page View
				</button>
			</form>
			
			<form th:action="'/removefile' + ${mainView.location}" th:method="POST" class="col-sm-2 vidButton">
				<input type="text" name="location" th:value="${mainView.location}" hidden="true">
				<button class="newLinkButton" type="submit">
					Delete File
				</button>
			</form>
		
			<form action="/filesetting" th:method="POST" class="col-sm-2 vidButton">
				<input type="text" name="location" th:value="${mainView.location}" hidden="true ">
				<button class="newLinkButton" type="submit">
					File Settings
				</button>
			</form>
			
			<div th:if="${mainView.fileType} == '.img'" class="col-sm-2">
				<button onclick="rotate(-90)" style="height: 40px; width: 40px; background-color: blue; margin-right: 5px;">
					Left
				</button>
				<button onclick="rotate(90)" style="height: 40px; width: 40px; background-color: green; margin-left: 5px;">
					Right
				</button>
			</div>

			<div style="height: 100px;" class="col-sm-12">
				<h4 style="max-width: 800px;">
					Insert tags by typing them in, separating them by commas. 
					You may not use the "|" character at any point.
				</h4>
				<form th:action="'/view' + ${mainView.location}" method="post">
					<input style="width:100%; max-width: 800px; border: 1px solid; color: black; height: 50px;" 
						type="text" name="tags" autocomplete="off"
						placeholder="Tags to be added, separated by commas, may not contain &quot;|&quot;">
					<input type="text" hidden="true" th:value="${mainView.location}" name="location">
					<input type="submit" hidden="true">
				</form>
			</div>
		</div>

		<div class="sideView col-sm-4">
			<h1>Suggested Options:</h1>
			<div th:each="file : ${objects}" th:switch="${file.fileType}" th:remove="tag">
				<div th:replace="~{fragments :: (${secure}?'postLink':'getLink')}">
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function rotate(deg){
		var image = document.getElementById("image");
		let angle = image.style.webkitTransform.slice(7,-4);
		let newAngle = (angle) ? parseInt(angle) + deg : deg;
		
		while(newAngle > 360) {
			newAngle -= 360;
		}
		while(newAngle < -360) {
			newAngle += 360;
		}
		
		image.style.webkitTransform="rotate(" + newAngle + "deg)";
		
		// adjust for top getting cut off
		let side = (newAngle / 90) % 4;
		let holdHeight = parseInt(document.getElementById("imageHolder").style.height.slice(0,-2));
		let imgHeight = -1;
		let newPad = -1;

		switch (side) {
		case -3:
			//current top is OG left
			newPad = image.height - holdHeight;
			image.style.padding="0px 0px 0px " + newPad + "px";
			break;
		case -2:
			//current top is OG bottom
			newPad = image.height - holdHeight;
			image.style.padding="0px 0px " + newPad + "px 0px";
			break;
		case -1:
			//current top is OG right
			newPad = image.width - holdHeight;
			image.style.padding="0px 0px " + newPad + "px 0px";
			break;
		case 0:
			//current top is OG top
			newPad = image.height - holdHeight;
			image.style.padding=newPad + "px 0px 0px 0px";
			break;
		case 1:
			//current top is OG left
			newPad = image.width - holdHeight;
			image.style.padding="0px 0px 0px " + newPad + "px";
			break;
		case 2:
			//current top is OG bottom
			newPad = image.height - holdHeight;
			image.style.padding="0px 0px " + newPad + "px 0px";
			break;
		case 3:
			//current top is OG right
			newPad = image.width - holdHeight;
			image.style.padding="0px " + newPad + "px 0px 0px";
			break;
		default:
			//should never arrive here
			console.log("error, reached default in rotate function");
			break;
		}
	}
</script>
</html>